In [646]:
from xgboost import plot_importance
%run objects

In [492]:
# create labels
all_mses_most_recent_year = []
results = []
for n_games_back in possible_num_games_back:
    for exp_decay in possible_exponential_decays:
        print("-----------------------------------------------------------------------------------")
        print(f"N = {n_games_back}, ExpDecay = {exp_decay}.")
        print("-----------------------------------------------------------------------------------")
        # Create trainer
        x = trainer(n_games = n_games_back, exponential_downweight=exp_decay, with_glm = False)
        # Get Labels
        x.label_and_data_maker()
        # Train model
        mse = x.train()
        results.append(pd.DataFrame({"n_games_back" : [n_games_back], "exp_decay" : [exp_decay], 'average_mse' : [sum(mse)/len(mse)]}))
results = pd.concat(results, axis = 0)
min_mse = results["average_mse"].min()
results_best = results.query("average_mse == @min_mse")
print(f"Best number of games to look back is {results_best.n_games_back.values[0]}. Best Exp Decay is {results_best.exp_decay.values[0]}")

# Train best num games back with verbose true:
print("-------------------------")
print("Completing Final Training")
print("-------------------------")
# Create trainer
x = trainer(n_games = results_best.n_games_back.values[0], 
            exponential_downweight=results_best.exp_decay.values[0], 
            with_glm = False)
# Get Labels
x.label_and_data_maker()
# Train model
x.train()

-----------------------------------------------------------------------------------
N = 10, ExpDecay = 1.
-----------------------------------------------------------------------------------
Getting Mens Training Data:

100%|██████████| 13/13 [00:15<00:00,  1.19s/it]

Getting Womens Training Data:

100%|██████████| 13/13 [00:15<00:00,  1.15s/it]

Completing year 2021
logloss of cvsplit 0: 0.49569918326871876
logloss of cvsplit 1: 0.4951146798235868
logloss of cvsplit 2: 0.49556209350513697
logloss of cvsplit 0: 0.38554896337366973
logloss of cvsplit 1: 0.4558991051965489
logloss of cvsplit 2: 0.4188139284795185
Mens accuracy for 2021 is 63.64 percent. MSE is 0.221646. Log loss is 0.629526
Womens accuracy for 2021 is 79.37 percent. MSE is 0.167523. Log loss is 0.554377
Overall MSE for 2021 is 0.195214
Completing year 2022
logloss of cvsplit 0: 0.49375074256790497
logloss of cvsplit 1: 0.4840450036575342
logloss of cvsplit 2: 0.4961304974523801
logloss of cvsplit 0: 0.3964601986057324
logloss of cvsplit 1: 0.37016931358215616
logloss of cvsplit 2: 0.5332018730638256
Mens accuracy for 2022 is 65.67 percent. MSE is 0.221872. Log loss is 0.635086
Womens accuracy for 2022 is 77.61 percent. MSE is 0.147689. Log loss is 0.455727
Overall MSE for 2022 is 0.184781
Completing year 2023
logloss of cvsplit 0: 0.4886473599082021
logloss of cvsplit 1: 0.4914095351119883
logloss of cvsplit 2: 0.4885489867800121
logloss of cvsplit 0: 0.4174415749841273
logloss of cvsplit 1: 0.4972499734877609
logloss of cvsplit 2: 0.6158808520348376
Mens accuracy for 2023 is 55.22 percent. MSE is 0.256451. Log loss is 0.736386
Womens accuracy for 2023 is 71.64 percent. MSE is 0.1813. Log loss is 0.593472
Overall MSE for 2023 is 0.218875
logloss of cvsplit 0: 0.5110725647358213
logloss of cvsplit 1: 0.5232456638408328
logloss of cvsplit 2: 0.5176269267190061
logloss of cvsplit 0: 0.41459185866878207
logloss of cvsplit 1: 0.46400020574716916
logloss of cvsplit 2: 0.47545561767175737
-----------------------------------------------------------------------------------
N = 10, ExpDecay = 0.98.
-----------------------------------------------------------------------------------
Getting Mens Training Data:

100%|██████████| 13/13 [00:15<00:00,  1.22s/it]

Getting Womens Training Data:

100%|██████████| 13/13 [00:15<00:00,  1.17s/it]

Completing year 2021
logloss of cvsplit 0: 0.49233359075245914
logloss of cvsplit 1: 0.48725217928128733
logloss of cvsplit 2: 0.4952937208222077
logloss of cvsplit 0: 0.38089182559856977
logloss of cvsplit 1: 0.4511524340650262
logloss of cvsplit 2: 0.4085506518235791
Mens accuracy for 2021 is 62.12 percent. MSE is 0.227518. Log loss is 0.644182
Womens accuracy for 2021 is 79.37 percent. MSE is 0.167609. Log loss is 0.562252
Overall MSE for 2021 is 0.19826
Completing year 2022
logloss of cvsplit 0: 0.5029487182727257
logloss of cvsplit 1: 0.49824337869237645
logloss of cvsplit 2: 0.5032283761820908
logloss of cvsplit 0: 0.36342272967389705
logloss of cvsplit 1: 0.3750298428606714
logloss of cvsplit 2: 0.4571418363076094
Mens accuracy for 2022 is 67.16 percent. MSE is 0.219577. Log loss is 0.630037
Womens accuracy for 2022 is 77.61 percent. MSE is 0.147281. Log loss is 0.454307
Overall MSE for 2022 is 0.183429
Completing year 2023
logloss of cvsplit 0: 0.5046200269371007
logloss of cvsplit 1: 0.5044500321345085
logloss of cvsplit 2: 0.4989116423562223
logloss of cvsplit 0: 0.40366313491798056
logloss of cvsplit 1: 0.3727707274108312
logloss of cvsplit 2: 0.42011765334638884
Mens accuracy for 2023 is 58.21 percent. MSE is 0.248569. Log loss is 0.71668
Womens accuracy for 2023 is 73.13 percent. MSE is 0.173129. Log loss is 0.532511
Overall MSE for 2023 is 0.210849
logloss of cvsplit 0: 0.5003189183340154
logloss of cvsplit 1: 0.5131110082500454
logloss of cvsplit 2: 0.5044374560584123
logloss of cvsplit 0: 0.37857212709322535
logloss of cvsplit 1: 0.4678789550596664
logloss of cvsplit 2: 0.41354701249238923
-----------------------------------------------------------------------------------
N = 10, ExpDecay = 0.95.
-----------------------------------------------------------------------------------
Getting Mens Training Data:

100%|██████████| 13/13 [00:16<00:00,  1.26s/it]

Getting Womens Training Data:

100%|██████████| 13/13 [00:16<00:00,  1.24s/it]

Completing year 2021
logloss of cvsplit 0: 0.49897058930545013
logloss of cvsplit 1: 0.4870918051040751
logloss of cvsplit 2: 0.4954679990477808
logloss of cvsplit 0: 0.3760122885837887
logloss of cvsplit 1: 0.49165153308833265
logloss of cvsplit 2: 0.35224258746517983
Mens accuracy for 2021 is 62.12 percent. MSE is 0.230464. Log loss is 0.652539
Womens accuracy for 2021 is 76.19 percent. MSE is 0.175772. Log loss is 0.580114
Overall MSE for 2021 is 0.203754
Completing year 2022
logloss of cvsplit 0: 0.4947109006362633
logloss of cvsplit 1: 0.48890318526909937
logloss of cvsplit 2: 0.497026367328396
logloss of cvsplit 0: 0.40072643781401246
logloss of cvsplit 1: 0.40573143666404665
logloss of cvsplit 2: 0.39924998721952915
Mens accuracy for 2022 is 68.66 percent. MSE is 0.2221. Log loss is 0.642945
Womens accuracy for 2022 is 77.61 percent. MSE is 0.150917. Log loss is 0.4677
Overall MSE for 2022 is 0.186509
Completing year 2023
logloss of cvsplit 0: 0.5011332423679654
logloss of cvsplit 1: 0.50615717241259
logloss of cvsplit 2: 0.5003318856079527
logloss of cvsplit 0: 0.4074658268563714
logloss of cvsplit 1: 0.40241354377071237
logloss of cvsplit 2: 0.45789184576550424
Mens accuracy for 2023 is 56.72 percent. MSE is 0.239896. Log loss is 0.692149
Womens accuracy for 2023 is 77.61 percent. MSE is 0.169842. Log loss is 0.525493
Overall MSE for 2023 is 0.204869
logloss of cvsplit 0: 0.5045038294930727
logloss of cvsplit 1: 0.5174942091383775
logloss of cvsplit 2: 0.5135911608134248
logloss of cvsplit 0: 0.37071178984576486
logloss of cvsplit 1: 0.46555627062967
logloss of cvsplit 2: 0.4733259969065489
-----------------------------------------------------------------------------------
N = 10, ExpDecay = 0.9.
-----------------------------------------------------------------------------------
Getting Mens Training Data:

100%|██████████| 13/13 [00:15<00:00,  1.21s/it]

Getting Womens Training Data:

100%|██████████| 13/13 [00:16<00:00,  1.28s/it]

Completing year 2021
logloss of cvsplit 0: 0.4881741232247914
logloss of cvsplit 1: 0.4758669268305243
logloss of cvsplit 2: 0.4858034399171267
logloss of cvsplit 0: 0.34836405340872323
logloss of cvsplit 1: 0.4542225924889
logloss of cvsplit 2: 0.3609450273745122
Mens accuracy for 2021 is 60.61 percent. MSE is 0.235603. Log loss is 0.667266
Womens accuracy for 2021 is 69.84 percent. MSE is 0.174771. Log loss is 0.555657
Overall MSE for 2021 is 0.205894
Completing year 2022
logloss of cvsplit 0: 0.49151102651816625
logloss of cvsplit 1: 0.48725632213656156
logloss of cvsplit 2: 0.48892918312177636
logloss of cvsplit 0: 0.36124605259305265
logloss of cvsplit 1: 0.3749021173477302
logloss of cvsplit 2: 0.41006557581259623
Mens accuracy for 2022 is 68.66 percent. MSE is 0.22103. Log loss is 0.633588
Womens accuracy for 2022 is 76.12 percent. MSE is 0.145453. Log loss is 0.452385
Overall MSE for 2022 is 0.183241
Completing year 2023
logloss of cvsplit 0: 0.4964031291931446
logloss of cvsplit 1: 0.5000038852265771
logloss of cvsplit 2: 0.49755605853109486
logloss of cvsplit 0: 0.36732111722072797
logloss of cvsplit 1: 0.36938389773752933
logloss of cvsplit 2: 0.3784998639960833
Mens accuracy for 2023 is 59.7 percent. MSE is 0.240304. Log loss is 0.689663
Womens accuracy for 2023 is 77.61 percent. MSE is 0.16558. Log loss is 0.516399
Overall MSE for 2023 is 0.202942
logloss of cvsplit 0: 0.49907050765801736
logloss of cvsplit 1: 0.513567438394476
logloss of cvsplit 2: 0.5115530236354203
logloss of cvsplit 0: 0.3994650309278784
logloss of cvsplit 1: 0.42370479015013335
logloss of cvsplit 2: 0.507027019994138
-----------------------------------------------------------------------------------
N = 15, ExpDecay = 1.
-----------------------------------------------------------------------------------
Getting Mens Training Data:

100%|██████████| 13/13 [00:16<00:00,  1.30s/it]

Getting Womens Training Data:

100%|██████████| 13/13 [00:14<00:00,  1.15s/it]

Completing year 2021
logloss of cvsplit 0: 0.4957064658878258
logloss of cvsplit 1: 0.49197926453824886
logloss of cvsplit 2: 0.49894234469317117
logloss of cvsplit 0: 0.35884523626552395
logloss of cvsplit 1: 0.36042055162684833
logloss of cvsplit 2: 0.380637253712439
Mens accuracy for 2021 is 62.12 percent. MSE is 0.212459. Log loss is 0.609278
Womens accuracy for 2021 is 79.37 percent. MSE is 0.169894. Log loss is 0.535358
Overall MSE for 2021 is 0.191671
Completing year 2022
logloss of cvsplit 0: 0.4765572178058451
logloss of cvsplit 1: 0.4701457323908266
logloss of cvsplit 2: 0.48099574604274137
logloss of cvsplit 0: 0.4403042138068846
logloss of cvsplit 1: 0.4530695074669485
logloss of cvsplit 2: 0.5352306483430014
Mens accuracy for 2022 is 62.69 percent. MSE is 0.225756. Log loss is 0.64482
Womens accuracy for 2022 is 80.6 percent. MSE is 0.137607. Log loss is 0.42987
Overall MSE for 2022 is 0.181682
Completing year 2023
logloss of cvsplit 0: 0.4995209941479365
logloss of cvsplit 1: 0.4966691158866237
logloss of cvsplit 2: 0.497162545097265
logloss of cvsplit 0: 0.40989378128802556
logloss of cvsplit 1: 0.4044079493444793
logloss of cvsplit 2: 0.5628132861680918
Mens accuracy for 2023 is 58.21 percent. MSE is 0.249674. Log loss is 0.721266
Womens accuracy for 2023 is 71.64 percent. MSE is 0.184251. Log loss is 0.578906
Overall MSE for 2023 is 0.216962
logloss of cvsplit 0: 0.5024893329052855
logloss of cvsplit 1: 0.5155940712405311
logloss of cvsplit 2: 0.5041264077136882
logloss of cvsplit 0: 0.3789206196847847
logloss of cvsplit 1: 0.48027968824849215
logloss of cvsplit 2: 0.48098316574240063
-----------------------------------------------------------------------------------
N = 15, ExpDecay = 0.98.
-----------------------------------------------------------------------------------
Getting Mens Training Data:

100%|██████████| 13/13 [00:16<00:00,  1.25s/it]

Getting Womens Training Data:

100%|██████████| 13/13 [00:16<00:00,  1.27s/it]

Completing year 2021
logloss of cvsplit 0: 0.49580992611386954
logloss of cvsplit 1: 0.48712535865911644
logloss of cvsplit 2: 0.4941255106211979
logloss of cvsplit 0: 0.3823635126572785
logloss of cvsplit 1: 0.44191430843370727
logloss of cvsplit 2: 0.41534967541510637
Mens accuracy for 2021 is 60.61 percent. MSE is 0.214814. Log loss is 0.610363
Womens accuracy for 2021 is 79.37 percent. MSE is 0.1721. Log loss is 0.557752
Overall MSE for 2021 is 0.193953
Completing year 2022
logloss of cvsplit 0: 0.49425903851951775
logloss of cvsplit 1: 0.4891702928575839
logloss of cvsplit 2: 0.4913347831222743
logloss of cvsplit 0: 0.43477085120634423
logloss of cvsplit 1: 0.5252581129537521
logloss of cvsplit 2: 0.5683873194591668
Mens accuracy for 2022 is 62.69 percent. MSE is 0.227652. Log loss is 0.651132
Womens accuracy for 2022 is 79.1 percent. MSE is 0.142756. Log loss is 0.443946
Overall MSE for 2022 is 0.185204
Completing year 2023
logloss of cvsplit 0: 0.49906538157608393
logloss of cvsplit 1: 0.5003151576380225
logloss of cvsplit 2: 0.4993306392922731
logloss of cvsplit 0: 0.36736763259424976
logloss of cvsplit 1: 0.37120131213825086
logloss of cvsplit 2: 0.40867830979013947
Mens accuracy for 2023 is 58.21 percent. MSE is 0.244232. Log loss is 0.705016
Womens accuracy for 2023 is 76.12 percent. MSE is 0.17477. Log loss is 0.544576
Overall MSE for 2023 is 0.209501
logloss of cvsplit 0: 0.49030734787636276
logloss of cvsplit 1: 0.5106287844389019
logloss of cvsplit 2: 0.5024014177470686
logloss of cvsplit 0: 0.3796856796024926
logloss of cvsplit 1: 0.46320946125136664
logloss of cvsplit 2: 0.4437181653178589
-----------------------------------------------------------------------------------
N = 15, ExpDecay = 0.95.
-----------------------------------------------------------------------------------
Getting Mens Training Data:

100%|██████████| 13/13 [00:14<00:00,  1.15s/it]

Getting Womens Training Data:

100%|██████████| 13/13 [00:14<00:00,  1.14s/it]

Completing year 2021
logloss of cvsplit 0: 0.49754625603531827
logloss of cvsplit 1: 0.4810808644586094
logloss of cvsplit 2: 0.4962365852528444
logloss of cvsplit 0: 0.3765223661678758
logloss of cvsplit 1: 0.34139292807221844
logloss of cvsplit 2: 0.45427039157311233
Mens accuracy for 2021 is 59.09 percent. MSE is 0.227271. Log loss is 0.646279
Womens accuracy for 2021 is 77.78 percent. MSE is 0.168658. Log loss is 0.550563
Overall MSE for 2021 is 0.198646
Completing year 2022
logloss of cvsplit 0: 0.4875387898948318
logloss of cvsplit 1: 0.4817247413544932
logloss of cvsplit 2: 0.48727354269352363
logloss of cvsplit 0: 0.3841070254468328
logloss of cvsplit 1: 0.4768791121229832
logloss of cvsplit 2: 0.5573026755506717
Mens accuracy for 2022 is 65.67 percent. MSE is 0.228988. Log loss is 0.656772
Womens accuracy for 2022 is 80.6 percent. MSE is 0.142876. Log loss is 0.45339
Overall MSE for 2022 is 0.185932
Completing year 2023
logloss of cvsplit 0: 0.502584656654727
logloss of cvsplit 1: 0.5017046459886415
logloss of cvsplit 2: 0.4943581084980313
logloss of cvsplit 0: 0.3964363856226683
logloss of cvsplit 1: 0.3983468786005879
logloss of cvsplit 2: 0.4752728368132091
Mens accuracy for 2023 is 59.7 percent. MSE is 0.237089. Log loss is 0.681287
Womens accuracy for 2023 is 80.6 percent. MSE is 0.16499. Log loss is 0.526873
Overall MSE for 2023 is 0.20104
logloss of cvsplit 0: 0.49744275566903584
logloss of cvsplit 1: 0.514775837896186
logloss of cvsplit 2: 0.5010205912857116
logloss of cvsplit 0: 0.47447722719584806
logloss of cvsplit 1: 0.42163277759379636
logloss of cvsplit 2: 0.4720835212862631
-----------------------------------------------------------------------------------
N = 15, ExpDecay = 0.9.
-----------------------------------------------------------------------------------
Getting Mens Training Data:

100%|██████████| 13/13 [00:15<00:00,  1.20s/it]

Getting Womens Training Data:

100%|██████████| 13/13 [00:15<00:00,  1.16s/it]

Completing year 2021
logloss of cvsplit 0: 0.4871274718906027
logloss of cvsplit 1: 0.4788291246716485
logloss of cvsplit 2: 0.49020568657628705
logloss of cvsplit 0: 0.36735882503760214
logloss of cvsplit 1: 0.37261634408625355
logloss of cvsplit 2: 0.3807825010162944
Mens accuracy for 2021 is 60.61 percent. MSE is 0.232205. Log loss is 0.661981
Womens accuracy for 2021 is 76.19 percent. MSE is 0.15923. Log loss is 0.491571
Overall MSE for 2021 is 0.196566
Completing year 2022
logloss of cvsplit 0: 0.4945527699877306
logloss of cvsplit 1: 0.4970234598920342
logloss of cvsplit 2: 0.4943771038111627
logloss of cvsplit 0: 0.3990174602079144
logloss of cvsplit 1: 0.3653042098553279
logloss of cvsplit 2: 0.4508401438419395
Mens accuracy for 2022 is 65.67 percent. MSE is 0.227278. Log loss is 0.64768
Womens accuracy for 2022 is 77.61 percent. MSE is 0.144967. Log loss is 0.456345
Overall MSE for 2022 is 0.186123
Completing year 2023
logloss of cvsplit 0: 0.5031412132979611
logloss of cvsplit 1: 0.5026133645008576
logloss of cvsplit 2: 0.502200928925749
logloss of cvsplit 0: 0.37229381571449366
logloss of cvsplit 1: 0.4558492664028726
logloss of cvsplit 2: 0.6158506680672926
Mens accuracy for 2023 is 59.7 percent. MSE is 0.243044. Log loss is 0.691717
Womens accuracy for 2023 is 82.09 percent. MSE is 0.160354. Log loss is 0.530741
Overall MSE for 2023 is 0.201699
logloss of cvsplit 0: 0.5162780826984593
logloss of cvsplit 1: 0.5256131532216459
logloss of cvsplit 2: 0.5195417505666466
logloss of cvsplit 0: 0.4000625160380931
logloss of cvsplit 1: 0.42505907032219326
logloss of cvsplit 2: 0.4352750595775019
-----------------------------------------------------------------------------------
N = 20, ExpDecay = 1.
-----------------------------------------------------------------------------------
Getting Mens Training Data:

100%|██████████| 13/13 [00:16<00:00,  1.27s/it]

Getting Womens Training Data:

100%|██████████| 13/13 [00:15<00:00,  1.19s/it]

Completing year 2021
logloss of cvsplit 0: 0.48782461584713377
logloss of cvsplit 1: 0.4842971460659926
logloss of cvsplit 2: 0.4885834517040189
logloss of cvsplit 0: 0.3618309811292445
logloss of cvsplit 1: 0.3661348937027781
logloss of cvsplit 2: 0.37415064872004866
Mens accuracy for 2021 is 59.09 percent. MSE is 0.225311. Log loss is 0.639485
Womens accuracy for 2021 is 76.19 percent. MSE is 0.181766. Log loss is 0.566403
Overall MSE for 2021 is 0.204045
Completing year 2022
logloss of cvsplit 0: 0.48374943825650624
logloss of cvsplit 1: 0.47813117788785015
logloss of cvsplit 2: 0.48176502289335005
logloss of cvsplit 0: 0.3648249068603042
logloss of cvsplit 1: 0.3777483324216741
logloss of cvsplit 2: 0.41052408633811277
Mens accuracy for 2022 is 62.69 percent. MSE is 0.225619. Log loss is 0.646816
Womens accuracy for 2022 is 82.09 percent. MSE is 0.13303. Log loss is 0.43286
Overall MSE for 2022 is 0.179325
Completing year 2023
logloss of cvsplit 0: 0.49515118226250027
logloss of cvsplit 1: 0.49340509746373357
logloss of cvsplit 2: 0.49338469997909484
logloss of cvsplit 0: 0.37275826966021347
logloss of cvsplit 1: 0.37599360782469127
logloss of cvsplit 2: 0.37736418388609505
Mens accuracy for 2023 is 62.69 percent. MSE is 0.245715. Log loss is 0.713917
Womens accuracy for 2023 is 73.13 percent. MSE is 0.181119. Log loss is 0.547645
Overall MSE for 2023 is 0.213417
logloss of cvsplit 0: 0.5052697969852307
logloss of cvsplit 1: 0.5206051151793042
logloss of cvsplit 2: 0.5097724269254796
logloss of cvsplit 0: 0.3797774233274154
logloss of cvsplit 1: 0.4473154966958178
logloss of cvsplit 2: 0.37673404254295506
-----------------------------------------------------------------------------------
N = 20, ExpDecay = 0.98.
-----------------------------------------------------------------------------------
Getting Mens Training Data:

100%|██████████| 13/13 [00:16<00:00,  1.29s/it]

Getting Womens Training Data:

100%|██████████| 13/13 [00:15<00:00,  1.21s/it]

Completing year 2021
logloss of cvsplit 0: 0.49721007330930683
logloss of cvsplit 1: 0.48932443287430955
logloss of cvsplit 2: 0.49050146248027304
logloss of cvsplit 0: 0.3625338676288236
logloss of cvsplit 1: 0.41952230437570076
logloss of cvsplit 2: 0.380542917582627
Mens accuracy for 2021 is 60.61 percent. MSE is 0.222692. Log loss is 0.629286
Womens accuracy for 2021 is 80.95 percent. MSE is 0.174117. Log loss is 0.548932
Overall MSE for 2021 is 0.198969
Completing year 2022
logloss of cvsplit 0: 0.4957541317366051
logloss of cvsplit 1: 0.485829547208179
logloss of cvsplit 2: 0.4926448555839266
logloss of cvsplit 0: 0.5064407081315502
logloss of cvsplit 1: 0.48202205667016734
logloss of cvsplit 2: 0.5162475581530184
Mens accuracy for 2022 is 67.16 percent. MSE is 0.22301. Log loss is 0.642577
Womens accuracy for 2022 is 79.1 percent. MSE is 0.137772. Log loss is 0.444421
Overall MSE for 2022 is 0.180391
Completing year 2023
logloss of cvsplit 0: 0.4992650123168603
logloss of cvsplit 1: 0.5026207660236548
logloss of cvsplit 2: 0.4940829297462602
logloss of cvsplit 0: 0.3410832347153347
logloss of cvsplit 1: 0.5425189744372514
logloss of cvsplit 2: 0.5505406177875402
Mens accuracy for 2023 is 64.18 percent. MSE is 0.236503. Log loss is 0.687779
Womens accuracy for 2023 is 71.64 percent. MSE is 0.180029. Log loss is 0.559834
Overall MSE for 2023 is 0.208266
logloss of cvsplit 0: 0.4917093338186992
logloss of cvsplit 1: 0.5114200515699572
logloss of cvsplit 2: 0.5015245515172985
logloss of cvsplit 0: 0.4132147300419018
logloss of cvsplit 1: 0.47825889966488727
logloss of cvsplit 2: 0.4503386834310106
-----------------------------------------------------------------------------------
N = 20, ExpDecay = 0.95.
-----------------------------------------------------------------------------------
Getting Mens Training Data:

100%|██████████| 13/13 [00:15<00:00,  1.18s/it]

Getting Womens Training Data:

100%|██████████| 13/13 [00:15<00:00,  1.19s/it]

Completing year 2021
logloss of cvsplit 0: 0.47518121570381805
logloss of cvsplit 1: 0.4579312080054603
logloss of cvsplit 2: 0.4643539953688975
logloss of cvsplit 0: 0.3757600538989056
logloss of cvsplit 1: 0.4443252524246577
logloss of cvsplit 2: 0.40092781739088584
Mens accuracy for 2021 is 62.12 percent. MSE is 0.23415. Log loss is 0.658274
Womens accuracy for 2021 is 76.19 percent. MSE is 0.182281. Log loss is 0.587126
Overall MSE for 2021 is 0.208819
Completing year 2022
logloss of cvsplit 0: 0.49153097549137637
logloss of cvsplit 1: 0.47730886479932777
logloss of cvsplit 2: 0.48888650269442974
logloss of cvsplit 0: 0.4572294004652246
logloss of cvsplit 1: 0.5163806476834427
logloss of cvsplit 2: 0.5048967937695051
Mens accuracy for 2022 is 65.67 percent. MSE is 0.228017. Log loss is 0.66045
Womens accuracy for 2022 is 77.61 percent. MSE is 0.138708. Log loss is 0.447017
Overall MSE for 2022 is 0.183363
Completing year 2023
logloss of cvsplit 0: 0.49434421049654026
logloss of cvsplit 1: 0.4938687288373731
logloss of cvsplit 2: 0.4858668317276994
logloss of cvsplit 0: 0.4007688820554388
logloss of cvsplit 1: 0.40180881109963623
logloss of cvsplit 2: 0.4869939449701387
Mens accuracy for 2023 is 61.19 percent. MSE is 0.236286. Log loss is 0.682203
Womens accuracy for 2023 is 77.61 percent. MSE is 0.167974. Log loss is 0.516411
Overall MSE for 2023 is 0.20213
logloss of cvsplit 0: 0.5022260235790311
logloss of cvsplit 1: 0.5190088424261586
logloss of cvsplit 2: 0.5081835943727833
logloss of cvsplit 0: 0.3759763781822975
logloss of cvsplit 1: 0.5040471441848744
logloss of cvsplit 2: 0.43776753674339824
-----------------------------------------------------------------------------------
N = 20, ExpDecay = 0.9.
-----------------------------------------------------------------------------------
Getting Mens Training Data:

100%|██████████| 13/13 [00:14<00:00,  1.13s/it]

Getting Womens Training Data:

100%|██████████| 13/13 [00:14<00:00,  1.11s/it]

Completing year 2021
logloss of cvsplit 0: 0.4915222054386098
logloss of cvsplit 1: 0.4720014407025753
logloss of cvsplit 2: 0.4808143250105497
logloss of cvsplit 0: 0.33933977229833573
logloss of cvsplit 1: 0.39487263680143614
logloss of cvsplit 2: 0.3505782475531017
Mens accuracy for 2021 is 62.12 percent. MSE is 0.234878. Log loss is 0.664437
Womens accuracy for 2021 is 74.6 percent. MSE is 0.176046. Log loss is 0.551137
Overall MSE for 2021 is 0.206146
Completing year 2022
logloss of cvsplit 0: 0.49968535484932725
logloss of cvsplit 1: 0.49380417207794103
logloss of cvsplit 2: 0.49500595684863175
logloss of cvsplit 0: 0.34884344753700647
logloss of cvsplit 1: 0.36883883433619824
logloss of cvsplit 2: 0.4485046970692538
Mens accuracy for 2022 is 64.18 percent. MSE is 0.220104. Log loss is 0.629383
Womens accuracy for 2022 is 77.61 percent. MSE is 0.138307. Log loss is 0.444356
Overall MSE for 2022 is 0.179205
Completing year 2023
logloss of cvsplit 0: 0.486701599500412
logloss of cvsplit 1: 0.4862446762233226
logloss of cvsplit 2: 0.48292364121377335
logloss of cvsplit 0: 0.3630655201445245
logloss of cvsplit 1: 0.36737555941633643
logloss of cvsplit 2: 0.3762975073405707
Mens accuracy for 2023 is 64.18 percent. MSE is 0.233969. Log loss is 0.674784
Womens accuracy for 2023 is 80.6 percent. MSE is 0.165561. Log loss is 0.505917
Overall MSE for 2023 is 0.199765
logloss of cvsplit 0: 0.5161036336003068
logloss of cvsplit 1: 0.527540043272451
logloss of cvsplit 2: 0.5207009289779845
logloss of cvsplit 0: 0.3649115843466122
logloss of cvsplit 1: 0.46251179782419105
logloss of cvsplit 2: 0.47176674175291294
Best number of games to look back is 15. Best Exp Decay is 0.9
-------------------------
Completing Final Training
-------------------------
Getting Mens Training Data:

100%|██████████| 13/13 [00:01<00:00,  9.45it/s]

Getting Womens Training Data:

100%|██████████| 13/13 [00:01<00:00, 12.37it/s]

Completing year 2021
logloss of cvsplit 0: 0.4871274718906027
logloss of cvsplit 1: 0.4788291246716485
logloss of cvsplit 2: 0.49020568657628705
logloss of cvsplit 0: 0.36735882503760214
logloss of cvsplit 1: 0.37261634408625355
logloss of cvsplit 2: 0.3807825010162944
Mens accuracy for 2021 is 60.61 percent. MSE is 0.232205. Log loss is 0.661981
Womens accuracy for 2021 is 76.19 percent. MSE is 0.15923. Log loss is 0.491571
Overall MSE for 2021 is 0.196566
Completing year 2022
logloss of cvsplit 0: 0.4945527699877306
logloss of cvsplit 1: 0.4970234598920342
logloss of cvsplit 2: 0.4943771038111627
logloss of cvsplit 0: 0.3990174602079144
logloss of cvsplit 1: 0.3653042098553279
logloss of cvsplit 2: 0.4508401438419395
Mens accuracy for 2022 is 65.67 percent. MSE is 0.227278. Log loss is 0.64768
Womens accuracy for 2022 is 77.61 percent. MSE is 0.144967. Log loss is 0.456345
Overall MSE for 2022 is 0.186123
Completing year 2023
logloss of cvsplit 0: 0.5031412132979611
logloss of cvsplit 1: 0.5026133645008576
logloss of cvsplit 2: 0.502200928925749
logloss of cvsplit 0: 0.37229381571449366
logloss of cvsplit 1: 0.4558492664028726
logloss of cvsplit 2: 0.6158506680672926
Mens accuracy for 2023 is 59.7 percent. MSE is 0.243044. Log loss is 0.691717
Womens accuracy for 2023 is 82.09 percent. MSE is 0.160354. Log loss is 0.530741
Overall MSE for 2023 is 0.201699
logloss of cvsplit 0: 0.5162780826984593
logloss of cvsplit 1: 0.5256131532216459
logloss of cvsplit 2: 0.5195417505666466
logloss of cvsplit 0: 0.4000625160380931
logloss of cvsplit 1: 0.42505907032219326
logloss of cvsplit 2: 0.4352750595775019

[0.19656609819909643, 0.1861226978298227, 0.20169883117469514]

In [493]:
results

   n_games_back  exp_decay  average_mse
0            10       1.00     0.199623
0            10       0.98     0.197513
0            10       0.95     0.198377
0            10       0.90     0.197359
0            15       1.00     0.196772
0            15       0.98     0.196220
0            15       0.95     0.195206
0            15       0.90     0.194796
0            20       1.00     0.198929
0            20       0.98     0.195875
0            20       0.95     0.198104
0            20       0.90     0.195039

In [494]:
x.features_men

,pasn_n_road_record_T1,past_n_record_T1,get_tourney_rank_T1,get_team_effect_T1,historical_team_effect_T1,get_sos_T1,FGM_mean_T1,FGA_mean_T1,FGM3_mean_T1,FGA3_mean_T1,...,FTA_opp_max_T2,OR_opp_max_T2,DR_opp_max_T2,Ast_opp_max_T2,TO_opp_max_T2,Stl_opp_max_T2,Blk_opp_max_T2,mov_opp_max_T2,seed_diff,effect_diff
0,0.853005,0.853005,16,-0.684294,-0.867442,-1.972836,9.847639,25.166546,2.243319,7.412379,...,24.2757,18.900,24.3,11.691702,14.4,5.31441,4.00000,10.62882,0,-0.531293
0,0.731233,0.731233,3,2.338696,1.039881,1.314153,14.341939,29.211095,3.231660,8.733106,...,25.2000,11.664,21.6,16.767000,18.9,9.72000,11.70000,2.91600,-11,1.242605
0,1.000000,1.000000,5,2.409294,0.787235,0.085914,12.391492,25.936008,3.481037,9.776382,...,27.9000,13.122,23.4,20.000000,16.2,8.00000,5.90490,8.00000,-7,0.448196
0,0.707099,0.707099,7,2.351121,0.901252,0.696778,14.411134,31.421630,4.587006,10.878499,...,22.6800,10.800,20.7,13.778100,12.0,5.83200,6.48000,6.48000,-3,0.776432
0,0.925641,0.925641,1,3.624952,1.537653,1.398390,14.147104,29.320674,3.399542,8.015216,...,12.3930,12.000,22.5,12.400290,14.4,7.67637,4.72392,8.85735,-15,3.628387
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,0.710745,0.710745,5,1.987568,0.742906,0.796678,15.628055,31.809133,4.072905,10.431096,...,20.2500,10.530,23.0,11.153700,15.0,6.00000,6.30000,5.31441,3,-0.346828
0,0.656862,0.656862,6,1.483456,1.451841,0.820046,14.220240,30.697475,5.065513,13.373279,...,14.0000,11.700,27.0,13.000000,9.0,6.48000,4.86000,3.93660,1,-0.880843
0,0.713508,0.713508,4,1.907654,1.464884,0.761430,14.553453,31.303723,4.679730,12.984688,...,25.0000,9.900,26.0,16.000000,12.0,7.29000,5.40000,7.00000,-1,-0.079914
0,0.900252,0.900252,9,2.144061,0.415815,0.137603,15.121477,31.503866,4.956852,13.446250,...,14.0000,11.700,27.0,13.000000,9.0,6.48000,4.86000,3.93660,4,-0.220237
0,0.713508,0.713508,4,1.907654,1.464884,0.761430,14.553453,31.303723,4.679730,12.984688,...,14.0000,11.700,27.0,13.000000,9.0,6.48000,4.86000,3.93660,-1,-0.456644

In [647]:
# create 2024 tournement object
tourney_2024 = tournament(year=2024, mens_model=x.model_men, womens_model = x.model_women, 
                          n_games = results_best.n_games_back.values[0], 
                          exponential_downweight=results_best.exp_decay.values[0])

In [648]:
# predict all for submission
submission = tourney_2024.predict_all_including_non_possible()

  0%|          | 0/2278 [00:00<?, ?it/s]

100%|██████████| 2278/2278 [00:06<00:00, 327.72it/s]
100%|██████████| 2278/2278 [00:06<00:00, 367.61it/s]

In [667]:
# simulate tournemnets for bracket completion
mens_sim = tourney_2024.predict_exact_tourney(gender = "M", print_results=True)

Simulating Round 0...
Seed X16b. Wagner beats seed X16a Howard (with probability 0.5408106436079223)
Seed Y10b. Virginia beats seed Y10a Colorado St (with probability 0.519476591650069)
Seed Y16b. Montana St beats seed Y16a Grambling (with probability 0.6361722657322046)
Seed Z10a. Boise St beats seed Z10b Colorado (with probability 0.5989450935183072)
Simulating Round 1...
Seed W01. Connecticut beats seed W16 Stetson (with probability 0.9286171839230165)
Seed W15. S Dakota St beats seed W02 Iowa St (with probability 0.12423420588129375)
Seed W03. Illinois beats seed W14 Morehead St (with probability 0.9100148158967413)
Seed W04. Auburn beats seed W13 Yale (with probability 0.8448315485514314)
Seed W05. San Diego St beats seed W12 UAB (with probability 0.753522403283764)
Seed W06. BYU beats seed W11 Duquesne (with probability 0.6677729391650811)
Seed W06. Drake beats seed W11 Washington St (with probability 0.6677729391650811)
Seed W09. Northwestern beats seed W08 FL Atlantic (with probability 0.6660007123174048)
Seed X01. North Carolina beats seed X16 Wagner (with probability 0.9293255385233938)
Seed X02. Arizona beats seed X15 Long Beach St (with probability 0.901237038036992)
Seed X03. Baylor beats seed X14 Colgate (with probability 0.8805032129880433)
Seed X04. Alabama beats seed X13 Col Charleston (with probability 0.6988395044220453)
Seed X04. Grand Canyon beats seed X13 St Mary's CA (with probability 0.6988395044220453)
Seed X11. New Mexico beats seed X06 Clemson (with probability 0.45300028898919775)
Seed X10. Nevada beats seed X07 Dayton (with probability 0.5240131459536235)
Seed X10. Mississippi St beats seed X07 Michigan St (with probability 0.5240131459536235)
Seed X10. Purdue beats seed X07 Montana St (with probability 0.5240131459536235)
Seed X10. Tennessee beats seed X07 St Peter's (with probability 0.5240131459536235)
Seed X10. Creighton beats seed X07 Akron (with probability 0.5240131459536235)
Seed Y04. Kansas beats seed Y13 Samford (with probability 0.7809449935353282)
Seed Y05. Gonzaga beats seed Y12 McNeese St (with probability 0.7052780777931668)
Seed Y05. Oregon beats seed Y12 South Carolina (with probability 0.7052780777931668)
Seed Y10. Virginia beats seed Y07 Texas (with probability 0.47811886682137017)
Seed Y10. Utah St beats seed Y07 TCU (with probability 0.47811886682137017)
Seed Z01. Houston beats seed Z16 Longwood (with probability 0.9289471639586259)
Seed Z15. WKU beats seed Z02 Marquette (with probability 0.10132271490825484)
Seed Z03. Kentucky beats seed Z14 Oakland (with probability 0.8498319293867717)
Seed Z04. Duke beats seed Z13 Vermont (with probability 0.8527451692622305)
Seed Z04. James Madison beats seed Z13 Wisconsin (with probability 0.8527451692622305)
Seed Z04. Texas Tech beats seed Z13 NC State (with probability 0.8527451692622305)
Seed Z04. Boise St beats seed Z13 Florida (with probability 0.8527451692622305)
Seed Z08. Nebraska beats seed Z09 Texas A&M (with probability 0.4203526598510236)
Simulating Round 2...
Seed R1W1. Connecticut beats seed R1W8 Northwestern (with probability 0.8923874782518855)
Seed R1W1. Drake beats seed R1W8 S Dakota St (with probability 0.8923874782518855)
Seed R1W1. Illinois beats seed R1W8 BYU (with probability 0.8923874782518855)
Seed R1W4. Auburn beats seed R1W5 San Diego St (with probability 0.6274671019552143)
Seed R1W4. North Carolina beats seed R1W5 Mississippi St (with probability 0.6274671019552143)
Seed R1X2. Arizona beats seed R1X7 Nevada (with probability 0.605393383332982)
Seed R1X3. Baylor beats seed R1X6 New Mexico (with probability 0.5987480068069869)
Seed R1X4. Alabama beats seed R1X5 Grand Canyon (with probability 0.6059601799642717)
Seed R1Y1. Purdue beats seed R1Y8 Utah St (with probability 0.8135967351360406)
Seed R1Y2. Tennessee beats seed R1Y7 Virginia (with probability 0.6715872951306429)
Seed R1Y3. Creighton beats seed R1Y6 Oregon (with probability 0.62644800181229)
Seed R1Y3. Kansas beats seed R1Y6 Gonzaga (with probability 0.62644800181229)
Seed R1Z8. Nebraska beats seed R1Z1 Houston (with probability 0.13492724887485263)
Seed R1Z8. Boise St beats seed R1Z1 WKU (with probability 0.13492724887485263)
Seed R1Z3. Kentucky beats seed R1Z6 Texas Tech (with probability 0.5359925492599376)
Seed R1Z4. Duke beats seed R1Z5 James Madison (with probability 0.786447986165972)
Simulating Round 3...
Seed R1Z4. Connecticut beats seed R1Z5 Auburn (with probability 0.786447986165972)
Seed R2W2. Drake beats seed R2W3 Illinois (with probability 0.49066351979368966)
Seed R2W2. North Carolina beats seed R2W3 Alabama (with probability 0.49066351979368966)
Seed R2X2. Arizona beats seed R2X3 Baylor (with probability 0.5487899718510931)
Seed R2X2. Purdue beats seed R2X3 Kansas (with probability 0.5487899718510931)
Seed R2X2. Creighton beats seed R2X3 Tennessee (with probability 0.5487899718510931)
Seed R2X2. Duke beats seed R2X3 Nebraska (with probability 0.5487899718510931)
Seed R2Z3. Kentucky beats seed R2Z2 Boise St (with probability 0.5247848879339501)
Simulating Round 4...
Seed R3W1. Connecticut beats seed R3W2 Drake (with probability 0.8406544347636364)
Seed R3W1. Arizona beats seed R3W2 North Carolina (with probability 0.8406544347636364)
Seed R3W1. Purdue beats seed R3W2 Creighton (with probability 0.8406544347636364)
Seed R3Z1. Duke beats seed R3Z2 Kentucky (with probability 0.5770082312318209)
Simulating Round 5...
Seed R3Z1. Connecticut beats seed R3Z2 Arizona (with probability 0.5770082312318209)
Seed R3Z1. Duke beats seed R3Z2 Purdue (with probability 0.5770082312318209)
Simulating Round 6...
Seed R5WX. Connecticut beats seed R5YZ Duke (with probability 0.7972563479633185)

In [654]:
all_brackets = []
for sim_num in tqdm(range(10000)):
    mens_sim = tourney_2024.predict_exact_tourney(gender = "M", print_results=False)
    data = []
    for key, item in mens_sim.items():
        data.append({'Slot': key, 'TeamID': item})
    this_mens_bracket = pd.DataFrame(data)
    this_mens_bracket["Bracket"] = sim_num
    this_mens_bracket["Tournament"] = "M"

    womens_sim = tourney_2024.predict_exact_tourney(gender = "W", print_results=False)
    data = []
    for key, item in mens_sim.items():
        data.append({'Slot': key, 'TeamID': item})
    this_womens_bracket = pd.DataFrame(data)
    this_womens_bracket["Bracket"] = sim_num
    this_womens_bracket["Tournament"] = "W"

    all_brackets.append(this_mens_bracket)
    all_brackets.append(this_womens_bracket)
submission = pd.concat(all_brackets, axis = 0)

100%|██████████| 100/100 [00:41<00:00,  2.41it/s]

     Slot  TeamID  Bracket Tournament
0     W01    1163        0          M
1     W02    1235        0          M
2     W03    1228        0          M
3     W04    1120        0          M
4     W05    1361        0          M
..    ...     ...      ...        ...
130  R4Y1    1166       99          M
131  R4Z1    1222       99          M
132  R5WX    1314       99          M
133  R5YZ    1166       99          M
134  R6CH    1166       99          M

[27000 rows x 4 columns]

In [656]:
submission

     Slot  TeamID  Bracket Tournament
0     W01    1163        0          M
1     W02    1235        0          M
2     W03    1228        0          M
3     W04    1120        0          M
4     W05    1361        0          M
..    ...     ...      ...        ...
130  R4Y1    1166       99          M
131  R4Z1    1222       99          M
132  R5WX    1314       99          M
133  R5YZ    1166       99          M
134  R6CH    1166       99          M

[27000 rows x 4 columns]

In [658]:
def check_submission_probs(team_name_1, team_name_2):
    sub = pd.read_csv("submission_1.csv")
    team_id_1 = teams.query("TeamName == @team_name_1").iloc[0].TeamID
    team_id_2 = teams.query("TeamName == @team_name_2").iloc[0].TeamID
    team_ids = [team_id_1, team_id_2]
    game_id = f"2023_{min(team_ids)}_{max(team_ids)}"
    entry = sub.query("ID == @game_id")
    if team_id_1 == min(team_ids):
        return f"The probability of {team_name_1} beating {team_name_2} is {round(entry.Pred.iloc[0], 3)}"
    else:
        return f"The probability of {team_name_1} beating {team_name_2} is {1 - round(entry.Pred.iloc[0], 3)}"

check_submission_probs(team_name_1 = "Duke", team_name_2 = "North Carolina")

IndexError: single positional indexer is out-of-bounds

In [657]:
# get team round probabilities
tourney_2024.get_team_round_probabilities(gender = "M")[0:50]

,TeamName,Round of 64,Round of 32,Sweet 16,Elite Eight,Final Four,Championship,Champion
0,Connecticut,100.000,92.862,83.860,59.935,46.832,35.116,22.900
1,Houston,100.000,92.895,82.301,62.433,47.761,34.167,22.007
2,Purdue,100.000,96.085,80.132,59.071,41.781,22.470,12.356
3,North Carolina,100.000,95.025,74.881,53.296,35.377,16.693,8.158
4,Auburn,100.000,84.483,58.143,25.180,16.281,9.324,4.438
5,Tennessee,100.000,96.686,60.898,36.917,16.628,7.434,3.302
6,Duke,100.000,85.275,55.672,20.608,12.379,6.071,2.543
7,Creighton,100.000,92.507,60.725,31.714,13.629,5.818,2.500
8,Arizona,100.000,90.124,53.145,30.689,15.350,6.281,2.433
9,Illinois,100.000,91.001,58.718,33.526,11.645,6.017,2.357
10,Marquette,100.000,89.868,55.740,34.423,13.186,5.594,2.329
11,Iowa St,100.000,87.577,50.562,26.842,9.734,4.989,1.895
12,Baylor,100.000,88.050,49.864,25.070,11.643,4.469,1.605
13,Kentucky,100.000,84.983,47.743,22.852,7.939,3.001,1.125
14,Gonzaga,100.000,70.528,40.685,15.005,7.293,2.663,0.983
15,Kansas,100.000,78.094,43.113,14.939,6.931,2.492,0.895
16,St Mary's CA,100.000,65.774,39.574,15.888,8.358,2.492,0.790
17,Wisconsin,100.000,71.666,32.664,9.420,5.271,2.013,0.713
18,San Diego St,100.000,75.352,31.899,8.280,3.983,1.866,0.627
19,Alabama,100.000,69.884,35.931,13.357,5.996,2.006,0.613
20,Clemson,100.000,54.700,27.820,13.226,5.499,1.819,0.568
21,Drake,100.000,56.998,29.267,15.048,3.752,1.557,0.522
22,Texas,100.000,55.090,22.773,11.849,4.130,1.392,0.465
23,Boise St,59.895,36.024,17.629,9.778,3.087,1.233,0.437
24,BYU,100.000,66.777,30.985,14.521,3.597,1.406,0.394
25,Utah St,100.000,62.400,13.422,6.780,2.890,0.979,0.329
26,Texas Tech,100.000,70.263,37.112,16.539,4.055,1.194,0.329
27,Dayton,100.000,47.599,22.382,10.799,3.999,1.099,0.287
28,Michigan St,100.000,53.176,13.958,7.259,3.546,1.001,0.284
29,Nevada,100.000,52.401,23.507,10.760,3.837,1.022,0.275
30,Oregon,100.000,49.333,20.019,6.306,1.939,0.557,0.160
31,Northwestern,100.000,66.600,10.781,3.979,1.614,0.605,0.156
32,Washington St,100.000,43.002,18.303,7.550,1.579,0.608,0.152
33,Florida,100.000,44.407,17.925,7.919,1.757,0.552,0.148
34,New Mexico,100.000,45.300,20.415,9.098,2.634,0.625,0.139
35,Colorado St,48.052,20.073,7.453,3.237,1.074,0.322,0.099
36,Virginia,51.948,24.837,8.641,3.940,1.182,0.344,0.099
37,South Carolina,100.000,50.667,17.730,5.847,1.404,0.383,0.098
38,Mississippi St,100.000,46.824,10.582,4.805,1.937,0.431,0.098
39,Nebraska,100.000,42.035,7.980,2.813,1.283,0.314,0.078
40,Texas A&M,100.000,57.965,9.068,3.167,1.366,0.347,0.074
41,Colorado,40.105,19.568,7.539,3.374,0.772,0.236,0.067
42,Grand Canyon,100.000,34.226,16.219,4.187,1.511,0.315,0.061
43,TCU,100.000,37.600,6.034,2.363,0.742,0.167,0.034
44,NC State,100.000,29.737,11.781,4.317,0.650,0.114,0.019
45,Yale,100.000,15.517,5.483,0.797,0.218,0.056,0.010
46,FL Atlantic,100.000,33.400,4.224,1.043,0.298,0.071,0.010
47,James Madison,100.000,28.334,7.481,0.973,0.283,0.053,0.009
48,McNeese St,100.000,29.472,9.685,1.142,0.257,0.049,0.008
49,Duquesne,100.000,33.223,7.803,1.908,0.243,0.052,0.007

                    ID      Pred
0       2024_1101_1103  0.655318
1       2024_1101_1104  0.158820
2       2024_1101_1112  0.070683
3       2024_1101_1114  0.314831
4       2024_1101_1116  0.558389
...                ...       ...
129956  2024_3152_3476  0.989754
129957  2024_3270_3476  0.996854
129958  2024_3152_3214  0.950046
129959  2024_3214_3270  0.984449
129960  2024_3152_3270  0.937761

[129961 rows x 2 columns]

In [ ]:
tourney_slots

      Season  Slot StrongSeed WeakSeed M_W  GameRound
0       1985  R1W1        W01      W16   M          1
1       1985  R1W2        W02      W15   M          1
2       1985  R1W3        W03      W14   M          1
3       1985  R1W4        W04      W13   M          1
4       1985  R1W5        W05      W12   M          1
...      ...   ...        ...      ...  ..        ...
4093    2023  R6CH       R5WX     R5YZ   W          6
4094    2023   W11       W11a     W11b   W          0
4095    2023   X16       X16a     X16b   W          0
4096    2023   Y16       Y16a     Y16b   W          0
4097    2023   Z11       Z11a     Z11b   W          0

[4098 rows x 6 columns]