In [877]:
import objects

/Users/nickbachelder/Desktop/Kaggle/Madness/objects.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  def get_preseason_rank(self, system :str) -> int:

In [879]:
# create trainer
x = trainer(n_games = 10, system = "AP")

# create labels
x.label_and_data_maker()

# Train model
x.train()

Getting Mens Training Data:

100%|██████████| 19/19 [00:02<00:00,  9.05it/s]

Getting Womens Training Data:

100%|██████████| 19/19 [00:01<00:00, 10.14it/s]

Mens accuracy for 2022 is 70.15 percent.
Womens accuracy for 2022 is 68.66 percent.

In [880]:
# check prediction
pred = x.model_men.predict_proba(pd.DataFrame({"road_record_T1" : [1, 0.5],
            "past_n_record_T1" : [1, 0.4],
            "tourney_seed_T1" : [1, 1],
            "road_record_T2" : [1, 0.5],
            "past_n_record_T2" : [1, 0.4],
            "tourney_seed_T2" : [1, 2]}))

pred

array([[0.17751801, 0.822482  ],
       [0.5346352 , 0.46536478]], dtype=float32)

In [881]:
# create 2023 tournement object
tourney_2023 = tournament(year=2023, mens_model=x.model_men, womens_model = x.model_women, n_games = 10, system = "AP")

In [882]:
# predict all for submission
submission = tourney_2023.predict_all_including_non_possible()

Getting 2023 mens tournement predicitions...

100%|██████████| 2278/2278 [00:03<00:00, 601.54it/s]

Getting 2023 womens tournement predicitions.

100%|██████████| 2278/2278 [00:04<00:00, 553.66it/s]

In [883]:
# simulate tournemnets for bracket completion
mens_sim = tourney_2023.predict_exact_tourney(gender = "M", print_results=True)

Simulating Round 0...
Seed W16b. TX Southern beats seed W16a F Dickinson
Seed X16b. TAM C. Christi beats seed X16a SE Missouri St
Seed Y11a. Mississippi St beats seed Y11b Pittsburgh
Seed Z11b. Nevada beats seed Z11a Arizona St
Simulating Round 1...
Seed W01. Purdue beats seed W16 TX Southern
Seed W02. Marquette beats seed W15 Vermont
Seed W03. Kansas St beats seed W14 Montana St
Seed W04. Tennessee beats seed W13 Louisiana
Seed W05. Duke beats seed W12 Oral Roberts
Seed W11. Providence beats seed W06 Kentucky
Seed W07. Michigan St beats seed W10 USC
Seed W07. Memphis beats seed W10 FL Atlantic
Seed X01. Alabama beats seed X16 TAM C. Christi
Seed X02. Arizona beats seed X15 Princeton
Seed X03. Baylor beats seed X14 UC Santa Barbara
Seed X03. Virginia beats seed X14 Furman
Seed X03. Col Charleston beats seed X14 San Diego St
Seed X11. NC State beats seed X06 Creighton
Seed X10. Utah St beats seed X07 Missouri
Seed X09. West Virginia beats seed X08 Maryland
Seed Y01. Houston beats seed Y16 N Kentucky
Seed Y01. Texas beats seed Y16 Colgate
Seed Y01. Xavier beats seed Y16 Kennesaw
Seed Y04. Indiana beats seed Y13 Kent
Seed Y04. Miami FL beats seed Y13 Drake
Seed Y11. Mississippi St beats seed Y06 Iowa St
Seed Y11. Texas A&M beats seed Y06 Penn St
Seed Y11. Iowa beats seed Y06 Auburn
Seed Y11. Kansas beats seed Y06 Howard
Seed Z02. UCLA beats seed Z15 UNC Asheville
Seed Z03. Gonzaga beats seed Z14 Grand Canyon
Seed Z04. Connecticut beats seed Z13 Iona
Seed Z12. VCU beats seed Z05 St Mary's CA
Seed Z12. TCU beats seed Z05 Nevada
Seed Z12. Northwestern beats seed Z05 Boise St
Seed Z08. Arkansas beats seed Z09 Illinois
Simulating Round 2...
Seed Z08. Purdue beats seed Z09 Memphis
Seed R1W2. Marquette beats seed R1W7 Michigan St
Seed R1W6. Providence beats seed R1W3 Kansas St
Seed R1W6. Tennessee beats seed R1W3 Duke
Seed R1X1. Alabama beats seed R1X8 West Virginia
Seed R1X2. Arizona beats seed R1X7 Utah St
Seed R1X6. NC State beats seed R1X3 Baylor
Seed R1X6. Virginia beats seed R1X3 Col Charleston
Seed R1Y1. Houston beats seed R1Y8 Iowa
Seed R1Y7. Texas A&M beats seed R1Y2 Texas
Seed R1Y7. Mississippi St beats seed R1Y2 Xavier
Seed R1Y4. Indiana beats seed R1Y5 Miami FL
Seed R1Y4. Kansas beats seed R1Y5 Arkansas
Seed R1Y4. Northwestern beats seed R1Y5 UCLA
Seed R1Z6. TCU beats seed R1Z3 Gonzaga
Seed R1Z4. Connecticut beats seed R1Z5 VCU
Simulating Round 3...
Seed R2W1. Purdue beats seed R2W4 Tennessee
Seed R2W3. Providence beats seed R2W2 Marquette
Seed R2X1. Alabama beats seed R2X4 Virginia
Seed R2X2. Arizona beats seed R2X3 NC State
Seed R2Y1. Houston beats seed R2Y4 Indiana
Seed R2Y1. Texas A&M beats seed R2Y4 Mississippi St
Seed R2Y1. Connecticut beats seed R2Y4 Kansas
Seed R2Z3. TCU beats seed R2Z2 Northwestern
Simulating Round 4...
Seed R2Z3. Purdue beats seed R2Z2 Providence
Seed R3X2. Arizona beats seed R3X1 Alabama
Seed R3Y1. Houston beats seed R3Y2 Texas A&M
Seed R3Z1. Connecticut beats seed R3Z2 TCU
Simulating Round 5...
Seed R3Z1. Arizona beats seed R3Z2 Purdue
Seed R3Z1. Houston beats seed R3Z2 Connecticut
Simulating Round 6...
Seed R5WX. Arizona beats seed R5YZ Houston

In [885]:
# get team round probabilities
tourney_2023.get_team_round_probabilities(gender = "M")[1:50]

,TeamName,Round of 64,Round of 32,Sweet 16,Elite Eight,Final Four,Championship,Champion
1,Houston,100.000,99.673,99.283,98.824,80.877,57.901,26.046
2,Alabama,100.000,97.536,94.976,67.246,31.342,12.453,9.087
3,Gonzaga,100.000,96.923,78.731,49.306,36.166,17.263,7.858
4,Marquette,100.000,97.419,75.303,46.968,23.655,9.618,4.940
5,Purdue,100.000,99.554,61.595,49.659,34.842,15.947,4.797
6,Kansas,100.000,93.621,89.583,44.412,29.015,9.600,4.298
7,Tennessee,100.000,91.644,86.693,40.206,31.832,17.325,3.583
8,Texas,100.000,98.212,66.055,55.611,16.410,6.146,2.191
9,UCLA,100.000,97.146,49.007,23.981,10.807,5.328,1.716
10,Virginia,100.000,93.822,68.725,26.420,9.968,4.279,0.595
11,Connecticut,100.000,98.031,66.097,40.407,11.670,2.044,0.534
12,Providence,100.000,58.033,56.796,34.525,3.450,1.193,0.341
13,Baylor,100.000,83.990,34.071,4.473,2.171,0.602,0.294
14,Duke,100.000,44.933,6.683,5.364,2.488,0.295,0.127
15,VCU,100.000,70.955,17.344,6.508,2.830,0.445,0.112
16,TCU,100.000,87.213,19.118,16.760,5.494,0.447,0.090
17,Missouri,100.000,69.523,11.011,7.439,1.224,0.363,0.045
18,Kansas St,100.000,51.592,11.166,2.246,0.332,0.116,0.030
19,NC State,100.000,93.792,60.420,4.349,1.145,0.171,0.025
20,Mississippi St,52.514,49.468,24.275,6.203,0.884,0.212,0.022
21,Memphis,100.000,92.393,37.124,3.367,1.232,0.154,0.022
22,Xavier,100.000,95.824,58.493,12.866,0.934,0.190,0.020
23,St Mary's CA,100.000,29.045,16.038,6.291,1.375,0.057,0.019
24,USC,100.000,42.771,15.448,5.166,0.797,0.107,0.013
25,Col Charleston,100.000,98.103,29.747,3.594,0.524,0.052,0.012
26,Miami FL,100.000,76.230,44.091,0.343,0.154,0.041,0.011
27,Northwestern,100.000,55.606,40.831,7.728,1.977,0.076,0.010
28,Pittsburgh,47.486,12.891,1.876,0.529,0.164,0.049,0.007
29,West Virginia,100.000,85.498,4.561,2.417,0.382,0.097,0.007
30,Michigan St,100.000,57.229,8.509,5.559,0.484,0.078,0.005
31,Texas A&M,100.000,63.440,27.071,13.944,0.114,0.033,0.005
32,Kentucky,100.000,41.967,31.392,5.365,0.480,0.064,0.005
33,Oral Roberts,100.000,55.067,3.716,0.630,0.198,0.036,0.004
34,Arkansas,100.000,43.978,4.179,1.347,0.233,0.052,0.004
35,Iowa,100.000,95.054,0.368,0.258,0.086,0.021,0.003
36,Utah St,100.000,30.477,1.342,0.385,0.132,0.021,0.003
37,Indiana,100.000,91.082,44.148,0.296,0.067,0.020,0.002
38,Iowa St,100.000,37.641,15.316,7.315,0.057,0.014,0.002
39,Creighton,100.000,6.208,4.504,0.802,0.094,0.006,0.002
40,Penn St,100.000,36.560,6.363,3.501,0.191,0.034,0.002
41,FL Atlantic,100.000,7.607,0.967,0.161,0.039,0.006,0.001
42,Drake,100.000,23.770,10.187,0.174,0.042,0.008,0.001
43,San Diego St,100.000,1.897,1.460,0.173,0.040,0.008,0.001
44,Boise St,100.000,44.394,9.406,1.444,0.196,0.008,0.001
45,Arizona St,64.572,10.494,1.431,0.534,0.112,0.006,0.001
46,Louisiana,100.000,8.356,2.908,0.469,0.110,0.006,0.000
47,Illinois,100.000,56.022,3.165,0.862,0.074,0.005,0.000
48,Nevada,35.428,2.293,0.379,0.115,0.021,0.001,0.000
49,Auburn,100.000,4.946,0.199,0.059,0.015,0.001,0.000

In [203]:
pd.DataFrame(season_rankings.groupby("SystemName")['Season'].max()).sort_values('Season', ascending=True).head(50)

            Season
SystemName
MIC           2003
WTE           2003
GC            2003
ERD           2003
BRZ           2003
MGY           2004
NOR           2004
JON           2004
HOL           2004
RM            2004
RAG           2005
ENT           2005
CMV           2005
BD            2005
HER           2005
BCM           2006
RIS           2006
PH            2006
SAP           2007
DWH           2007
REN           2007
ROH           2007
JCI           2007
PKL           2007
TSR           2008
ECK           2008
SCR           2008
IMS           2008
RSE           2008
BKM           2008
UCS           2009
LYD           2009
SIM           2009
TOL           2009
GRN           2010
MKV           2010
SAU           2010
KEL           2010
TRX           2010
STR           2010
ISR           2010
AUS           2011
BP5           2011
PEQ           2011
KMV           2011
HAT           2012
ROG           2012
BNM           2012
EBB           2012
TBD           2012

In [423]:
dict({tourney_seeds.query("TeamID == @team_id").reset_index(drop = 1).ReigonSeed[0] : team_id for team_id in tourney_seeds.TeamID}).get("W01")

3163