In [187]:
import pandas as pd
import re
import numpy as np
import os

In [188]:
os.getcwd()

'/Users/nickbachelder/Desktop/Personal Code/Kaggle/Madness'

In [189]:
## Get tourney seed data

mseed = pd.read_csv("data/MNCAATourneySeeds.csv")
mseed['M_W'] = 'M'
wseed = pd.read_csv("data/WNCAATourneySeeds.csv")
wseed['M_W'] = 'W'
seed = pd.concat([mseed, wseed])
seed['ReigonSeed'] = seed.Seed
seed['Seed'] = [seeds[1:] for seeds in seed.Seed]
seed['play_in_seed'] = list(map(lambda x : x[-1].isalpha(), seed.Seed))
seed['Seed'] = list(map(lambda x : int(re.sub('\D', "", x)), seed.Seed))
seed.to_csv('data/tourney_seeds.csv', index=False) 

mslot = pd.read_csv("data/MNCAATourneySlots.csv")
mslot['M_W'] = 'M'
wslot = pd.read_csv("data/WNCAATourneySlots.csv")
wslot['M_W'] = 'W'
slot = pd.concat([mslot, wslot])
conditions = [
    ["R1" in slot for slot in slot.Slot],
    ["R2" in slot for slot in slot.Slot],
    ["R3" in slot for slot in slot.Slot],
    ["R4" in slot for slot in slot.Slot],
    ["R5" in slot for slot in slot.Slot],
    ["R6" in slot for slot in slot.Slot],
]
choices = [1,2,3,4,5,6]
slot["GameRound"] = np.select(conditions, choices, default = 0)
slot.to_csv('data/tourney_slots.csv', index=False)

In [190]:
m_season_details = pd.read_csv("data/MRegularSeasonDetailedResults.csv")
m_season_details['M_W'] = 'M'
w_season_details = pd.read_csv("data/WRegularSeasonDetailedResults.csv")
w_season_details['M_W'] = 'W'
season_details = pd.concat([m_season_details, w_season_details])
season_details


winner_season_details = season_details[['M_W', "Season", "DayNum", "WTeamID", "LTeamID", "WScore", "LScore", "WLoc", "WFGM", 
'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', "NumOT"
]].set_axis(['M_W', "Season", "DayNum", "TeamID", "OppTeamID", "Score", "OppScore", "Loc", "FGM", 
'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA', 'OR', 'DR',
       'Ast', 'TO', 'Stl', 'Blk', 'PF', "NumOT"], axis=1, inplace=False)
winner_season_details['Result'] = 1
       
loser_season_details = season_details[['M_W', "Season", "DayNum", "WTeamID", "LTeamID", "WScore", "LScore", 
"WLoc", 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF', "NumOT"
]].set_axis(['M_W', "Season", "DayNum", "OppTeamID", "TeamID", "OppScore", "Score", "Loc", "FGM", 
'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA', 'OR', 'DR',
       'Ast', 'TO', 'Stl', 'Blk', 'PF', "NumOT"], axis=1, inplace=False)
conditions = [(loser_season_details.Loc == "H"), 
(loser_season_details.Loc == "A"), 
(loser_season_details.Loc == "N")]
choices = ["A", "H", "N"]
loser_season_details['Result'] = 0
loser_season_details["Loc"] = np.select(conditions, choices)
season_details = pd.concat([winner_season_details, loser_season_details])
season_details['mov'] = season_details.Score - season_details.OppScore
season_details.to_csv('data/game_results.csv', index=False)

In [191]:
m_tourney_results = pd.read_csv("data/MNCAATourneyCompactResults.csv")
m_tourney_results['M_W'] = 'M'
w_tourney_results = pd.read_csv("data/WNCAATourneyCompactResults.csv")
w_tourney_results['M_W'] = 'W'
tourney_details = pd.concat([m_tourney_results, w_tourney_results])
tourney_details

tourney_details.to_csv('data/tourney_results.csv', index=False)

In [192]:
mteams = pd.read_csv("data/MTeams.csv")
mteams['M_W'] = 'M'
wteams = pd.read_csv("data/WTeams.csv")
wteams['M_W'] = 'W'
teams = pd.concat([mteams, wteams])
teams.to_csv('data/teams.csv', index=False)

In [193]:
# Get mixed effects for each team for each season
season_game_results = pd.read_csv("data/game_results.csv").query("Season >= 2003")
all_effects = []

for season in range(2010, max(season_game_results.Season)+1):
    print(season)
    print("--------")
    for m_w in ["M", "W"]:
        print(m_w)
        # Build own rankings with mixed effects model
        mod_df = season_game_results.query("Season == @season & M_W == @m_w & NumOT == 0")[["TeamID", "OppTeamID", "Result"]].copy()
        if len(mod_df) == 0:
            continue
        mod_df['TeamID']=mod_df['TeamID'].astype("str")
        mod_df['OppTeamID']=mod_df['OppTeamID'].astype("str")
        formula = 'Result~-1+TeamID+OppTeamID'
        glm = sm.GLM.from_formula(formula=formula, 
                                data=mod_df, 
                                family=sm.families.Binomial()).fit()
        
        quality = pd.DataFrame(glm.params).reset_index()
        quality.columns = ['TeamID','Effect']
        quality['Season'] = season
        quality = quality.loc[~(quality.TeamID.str.contains('Opp'))].reset_index(drop=True)
        quality['TeamID'] = quality['TeamID'].apply(lambda x: x[7:11]).astype(int)
        quality["M_W"] = m_w

        all_effects.append(quality)
all_effects = pd.concat(all_effects, axis = 0)
all_effects["TeamID"] = all_effects["TeamID"].astype(int)
all_effects.to_csv('data/all_effects.csv', index=False)

2010
--------
M
W
2011
--------
M
W
2012
--------
M
W
2013
--------
M
W
2014
--------
M
W
2015
--------
M
W
2016
--------
M
W
2017
--------
M
W
2018
--------
M
W
2019
--------
M
W
2020
--------
M
W
2021
--------
M
W
2022
--------
M
W
2023
--------
M
W
2024
--------
M
W

In [194]:
all_effects

     TeamID        Effect  Season M_W
0      1102  9.992007e-15    2010   M
1      1103  1.982589e+00    2010   M
2      1104  2.527088e+00    2010   M
3      1105 -2.571418e+00    2010   M
4      1106 -1.897764e+00    2010   M
..      ...           ...     ...  ..
355    3474 -2.285744e+00    2024   W
356    3475  1.793047e+00    2024   W
357    3476 -3.792817e+00    2024   W
358    3477  6.387972e-01    2024   W
359    3478 -2.521149e-01    2024   W

[10515 rows x 4 columns]

In [195]:
quality['TeamID'].apply(lambda x: x[7:11])

TypeError: 'int' object is not subscriptable

     TeamID        Effect  Season M_W
0      3101 -8.499671e-15    2024   W
1      3102  9.403577e-01    2024   W
2      3103 -2.157595e-01    2024   W
3      3104  5.514531e+00    2024   W
4      3105 -3.564867e-01    2024   W
..      ...           ...     ...  ..
355    3474 -2.285744e+00    2024   W
356    3475  1.793047e+00    2024   W
357    3476 -3.792817e+00    2024   W
358    3477  6.387972e-01    2024   W
359    3478 -2.521149e-01    2024   W

[360 rows x 4 columns]

In [198]:
teams.query("TeamName == 'Connecticut'")

    TeamID     TeamName  FirstD1Season  LastD1Season M_W
62    1163  Connecticut         1985.0        2024.0   M
61    3163  Connecticut            NaN           NaN   W